---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/fayette.kyschools.us_jtcs0efrcacc9c8pk9e303278c@group.calendar.google.com/events?key=<APIKEY>&timeMax=2018-12-01T00:00:00-05:00&timeMin=2018-11-30T00:00:00-05:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33kcbrcou7uds0g\"",
         "summary": "Voyager Team Homework Calendar",
         "updated": "2018-11-30T19:47:51.777Z",
         "timeZone": "America/New_York",
         "accessRole": "reader",
         "defaultReminders": [],
         "nextSyncToken": "COjF7Zjx_N4CEAAYAQ==",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3087189235798000\"",
           "id": "2i0k5deefs3ochjqkd62uc4h0p",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MmkwazVkZWVmczNvY2hqcWtkNjJ1YzRoMHAgZmF5ZXR0ZS5reXNjaG9vbHMudXNfanRjczBlZnJjYWNjOWM4cGs5ZTMwMzI3OGNAZw",
           "created": "2018-11-30T16:16:57.000Z",
           "updated": "2018-11-30T16:16:57.899Z",
           "summary": "Social Studies - Agenda:  Complete Final Exam and test corrections  HW - N/A   We start EUROPE next week!!!!",
           "creator": {
            "email": "tammy.conley@fayette.kyschools.us",
            "displayName": "Tammy Conley"
           },
           "organizer": {
            "email": "fayette.kyschools.us_jtcs0efrcacc9c8pk9e303278c@group.calendar.google.com",
            "displayName": "Voyager Team Homework Calendar",
            "self": true
           },
           "start": {
            "date": "2018-11-30"
           },
           "end": {
            "date": "2018-12-01"
           },
           "transparency": "transparent",
           "iCalUID": "2i0k5deefs3ochjqkd62uc4h0p@google.com",
           "sequence": 0,
           "extendedProperties": {
            "private": {
             "everyoneDeclinedDismissed": "-1"
            }
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3087214463528000\"",
           "id": "0r8l8a82dl56qjtt5lkci3j08u",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MHI4bDhhODJkbDU2cWp0dDVsa2NpM2owOHUgZmF5ZXR0ZS5reXNjaG9vbHMudXNfanRjczBlZnJjYWNjOWM4cGs5ZTMwMzI3OGNAZw",
           "created": "2018-11-30T19:47:11.000Z",
           "updated": "2018-11-30T19:47:11.764Z",
          [...]
